.dropdown-arrow {
  border-color: transparent;
  border-bottom-color: transparent;
  border-bottom-color: #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  display: block;
  position: absolute;
  top: -8px;
  z-index: 1;
  height: 0;
  width: 0;
  right: 10px;
  padding: 0;
  pointer-events: none;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
  transform: none !important;
  top: 100% !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.no-caret::after {
  display: none !important;
}