html, body { padding: 0; margin: 0; }
html {
  position: relative;
  min-height: 100%;    
}
body{
  font-family: roboto;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
main {
  margin-top: 65px;
  transition-duration: .3s;
}

.waves-effect {
  display: block !important;
}