.main-overlay{
  width: 100%;
  position: fixed;
  height: 100%;
  top: 50px;
  bottom: 0;
  background: pink;
  left: 250px;
  visibility: hidden;
  z-index: 8;
  &.active{
      visibility: visible;
  }
}
