aside {
  background: #202729;
  height: 100%;
  width: 250px;
  top: 64px;
  position: fixed;
  z-index: 10;
  transition-duration: .3s;
  
  .navigation { margin-top: 5px; }
  .navigation > li { margin-top: 5px; }
  .navigation > li {
    box-shadow: inset 0 0 0 1px transparent;
    transition: border-radius .15s cubic-bezier(0.4,0.0,0.2,1), margin .15s cubic-bezier(0.4,0.0,0.2,1),width .15s cubic-bezier(0.4,0.0,0.2,1);
    box-sizing: border-box;
    border-radius: 0 16px 16px 0;
    width: 98%;
  }
  .navigation > li a {
    outline: none;
    text-decoration: none;
  }
  .navigation > li a:hover{
    background: rgba(255, 255, 255, 0.1);
    color: #FFF !important;
  }
  .navigation > li a.active{
    background: rgba(255, 255, 255, 0.3);
    color: #FFF !important;
  }

  .navigation > li a:hover i{
    color: #FFF;
  }

  .navigation > li a.active i {
    color: $cyan; 
  }
  .navigation > li a {
    align-items: center;
    display: flex;
    height: 32px;
    padding: 0 12px 0 26px;
    transition: margin .15s cubic-bezier(0.4,0.0,0.2,1),padding .15s cubic-bezier(0.4,0.0,0.2,1);
    position: relative;
    color: #687779 !important;
  }
  .navigation > li a i {
    height: 20px;    
    margin-right: 18px;
    width: 20px;
    font-size: 22px;
    vertical-align: middle;
    transition: margin .15s cubic-bezier(0.4,0.0,0.2,1);
  }
  .navigation > li a span{
    display: flex;
    flex: 1 1 0;
    line-height: 20px;
    top: 3px;
  }
  .icon-container{
    text-align: center;
  }
}


.overlay {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.overlay.active{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;	
  z-index: 8;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in, box-shadow 0 0 10px rgba(0, 0, 0, 0.50);
  -moz-transition: opacity 0.3s ease-in, box-shadow 0 0 10px rgba(0, 0, 0, 0.50);
  -o-transition: opacity 0.3s ease-in, box-shadow 0 0 10px rgba(0, 0, 0, 0.50);
  transition: opacity 0.3s ease-in, box-shadow 0 0 10px rgba(0, 0, 0, 0.50);
} 