<div class="card">
  <div class="card-body">
    <h5 class="card-title">Contact Information</h5>
    <h6 class="card-subtitle">Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero</h6>

    <div class="pmo-contact">
      <ul>
        <li>
          <i class="zmdi zmdi-phone"></i> 0949-344-3812</li>
        <li>
          <i class="zmdi zmdi-email"></i> rowel.deguzman@roweldev.com</li>
        <li>
          <i class="zmdi zmdi-facebook-box"></i> rowel.deguzman</li>
        <li>
          <i class="zmdi zmdi-twitter"></i> @roweldg (twitter.com/roweldg)</li>
        <li>
          <i class="zmdi zmdi-pin"></i>
          <address class="m-b-0 ng-binding">
            213 E. Manuel St.,
            <br> San Jose,
            <br> Montalban, Rizal, Philippines
          </address>
        </li>
      </ul>
    </div>
    <a class="pmo-map">
      <img src="./assets/images/demo/map.png" alt="">
    </a>
  </div>
</div>