<div class="row">
  <div class="col-sm-12 ck">

    <div class="checkbox">
      <input type="checkbox" id="ck1" checked>
      <label for="ck1">
        This is message
      </label>
    </div>

    <div class="radio">
      <input type="radio" id="ck2" name="radio1">
      <label for="ck2">
        This is message
      </label>      
    </div>
    <div class="radio">
      <input type="radio" id="ck3" name="radio1">
      <label for="ck3">
        This is message
      </label>
    </div>
  </div>
</div>
<app-screen-action title="Dashboard" action="true"></app-screen-action>
<app-mini-charts></app-mini-charts>
<app-pie-charts></app-pie-charts>
