.blog-post .bp-header {
  position: relative;
}
.blog-post .bp-header > img {
  width: 100%;
}
.blog-post .bp-header .bp-title {
  background: #3f51b5;
  width: 100%;
  padding: 20px;
  color: #FFF;
  display: block;
}