<div class="row">

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-body card-padding bgm-cyan c-white">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-body card-padding bgm-red c-white">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-body card-padding bgm-orange c-white">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>
    
  </div>
  
</div>

<div class="row">

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-body card-padding bgm-green c-white">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-body card-padding bgm-purple c-white">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-body card-padding bgm-bluegray c-white">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>
    
  </div>
  
</div>