<div class="row">

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-header">
        <h2>
          Default Example
          <small>You can type anything here...</small>
        </h2>
        <ul class="actions">
          <li class="dropdown" dropdown>

            <a dropdownToggle>
              <i class="zmdi zmdi-more-vert"></i>
            </a> 

            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
              <li class="dropdown-arrow"></li>
              <li role="menuitem"><a class="dropdown-item">Action</a></li>
              <li role="menuitem"><a class="dropdown-item">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item">Separated link</a></li>				
            </ul>
            
          </li>
        
        </ul>
      </div>
      <div class="card-body card-padding">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-header">

        <h2>
          Default Example
          <small>You can type anything here...</small>
        </h2>

        <ul class="actions">

          <li><a><i class="zmdi zmdi-refresh-alt"></i></a></li>
          <li><a><i class="zmdi zmdi-download"></i></a></li>
          <li class="dropdown" dropdown>

            <a dropdownToggle>
              <i class="zmdi zmdi-more-vert"></i>
            </a> 

            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
              <li class="dropdown-arrow"></li>
              <li role="menuitem"><a class="dropdown-item">Action</a></li>
              <li role="menuitem"><a class="dropdown-item">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item">Separated link</a></li>				
            </ul>
            
          </li>
        
        </ul>

      </div>
      <div class="card-body card-padding">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-header">

        <h2>
          Default Example
          <small>You can type anything here...</small>
        </h2>

        <ul class="actions">

          <li><a><i class="zmdi zmdi-refresh-alt"></i></a></li>
          <li><a><i class="zmdi zmdi-download"></i></a></li>
        
        </ul>

      </div>
      <div class="card-body card-padding">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>
    
  </div>

</div>

<div class="row">

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-header bgm-cyan">
        <h2>
          Default Example
          <small>You can type anything here...</small>
        </h2>
        <ul class="actions">
          <li class="dropdown" dropdown>

            <a dropdownToggle>
              <i class="zmdi zmdi-more-vert"></i>
            </a> 

            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
              <li class="dropdown-arrow"></li>
              <li role="menuitem"><a class="dropdown-item">Action</a></li>
              <li role="menuitem"><a class="dropdown-item">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item">Separated link</a></li>				
            </ul>
            
          </li>
        
        </ul>
      </div>
      <div class="card-body card-padding">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-header bgm-red">

        <h2>
          Default Example
          <small>You can type anything here...</small>
        </h2>

        <ul class="actions">

          <li><a><i class="zmdi zmdi-refresh-alt"></i></a></li>
          <li><a><i class="zmdi zmdi-download"></i></a></li>
          <li class="dropdown" dropdown>

            <a dropdownToggle>
              <i class="zmdi zmdi-more-vert"></i>
            </a> 

            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
              <li class="dropdown-arrow"></li>
              <li role="menuitem"><a class="dropdown-item">Action</a></li>
              <li role="menuitem"><a class="dropdown-item">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item">Separated link</a></li>				
            </ul>
            
          </li>
        
        </ul>

      </div>
      <div class="card-body card-padding">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-header bgm-orange">

        <h2>
          Default Example
          <small>You can type anything here...</small>
        </h2>

        <ul class="actions">

          <li><a><i class="zmdi zmdi-refresh-alt"></i></a></li>
          <li><a><i class="zmdi zmdi-download"></i></a></li>
        
        </ul>

      </div>
      <div class="card-body card-padding">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>
    
  </div>
  
</div>

<div class="row">

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-header bgm-green">
        <h2>
          Default Example
          <small>You can type anything here...</small>
        </h2>
        <ul class="actions">
          <li class="dropdown" dropdown>

            <a dropdownToggle>
              <i class="zmdi zmdi-more-vert"></i>
            </a> 

            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
              <li class="dropdown-arrow"></li>
              <li role="menuitem"><a class="dropdown-item">Action</a></li>
              <li role="menuitem"><a class="dropdown-item">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item">Separated link</a></li>				
            </ul>
            
          </li>
        
        </ul>
      </div>
      <div class="card-body card-padding">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-header bgm-purple">

        <h2>
          Default Example
          <small>You can type anything here...</small>
        </h2>

        <ul class="actions">

          <li><a><i class="zmdi zmdi-refresh-alt"></i></a></li>
          <li><a><i class="zmdi zmdi-download"></i></a></li>
          <li class="dropdown" dropdown>

            <a dropdownToggle>
              <i class="zmdi zmdi-more-vert"></i>
            </a> 

            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
              <li class="dropdown-arrow"></li>
              <li role="menuitem"><a class="dropdown-item">Action</a></li>
              <li role="menuitem"><a class="dropdown-item">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item">Separated link</a></li>				
            </ul>
            
          </li>
        
        </ul>

      </div>
      <div class="card-body card-padding">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card">
      <div class="card-header bgm-bluegray">

        <h2>
          Default Example
          <small>You can type anything here...</small>
        </h2>

        <ul class="actions">

          <li><a><i class="zmdi zmdi-refresh-alt"></i></a></li>
          <li><a><i class="zmdi zmdi-download"></i></a></li>
        
        </ul>

      </div>
      <div class="card-body card-padding">
        Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed
        aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.
      </div>
    </div>
    
  </div>
  
</div>